{
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"tailwindFunctions": ["twMerge"],
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-jsdoc", "prettier-plugin-tailwindcss"]
}
